<!doctype html>
<html>
<head>
	<title>Choose an Email!</title>
</head>
<body>
	<h2>Choose an Email!</h2>
	<form method="POST" action="/end.erb">
		<% @email_types.each do |type| %>
		<label>
			<input type= "radio" name="email" value="name">
			<%=type%>
		</label>
		<br/>
					 <% end %> 
 <input type="submit">
</form>
</body>
	
</html>