<!doctype html>
<html>
<head>
	<link type="text/css" rel="stulr"
	<title> </title>
</head>
<body>
	<h1>Email Generator</h1>
	<h4>Welcome to the Email Generator! This will generate an email to satisfy your needs!</h4>
	<div><a href="/begin.erb"><p>Click here to begin!</p></a></div>
</body>
	
</html>